.Btn {
    width: 100%;
    border: 2px solid var(--color-neutral-900);
    border-radius: 999px;
    color: var(--color-neutral-900);
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;    
}

.Btn-submit {
    background: var(--color-yellow-500);
    box-shadow: 4px 4px 0 0 var(--color-neutral-900);
}

.Btn-submit:hover {
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 0 0 var(--color-neutral-900);
}